
.cards{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h1{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services{
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid #75aeeb;
  border-radius: 4px;
  transition: all .3s ease;
}
.content .fab{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: #4267B2;
  background: #4267B2;
}
.content-1:hover a{
  color: #4267B2;
}
.content-2:hover{
  border-color: #ad2ba7;
  background: #ad2ba7;
}
.content-2:hover a{
  color: #ad2ba7;
}
.content-3:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.content-3:hover a{
  color: #ff0000;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 22px 0;
  background: #75aeeb;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #75aeeb;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.content a:hover{
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}

.page-add {
	padding-top: 31px;
	margin-bottom: 92px;
}

.page-add .page-breadcrumb {
	padding-top: 34px;
}

.page-add .page-breadcrumb h2 {
	color: #1e1e1e;
	font-size: 48px;
	font-weight: 600;
}

.page-add .page-breadcrumb h2 span {
	color: #B0BCC2;
}

.page-add .page-breadcrumb a {
	color: #838383;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: 6px;
	position: relative;
}

.page-add .page-breadcrumb a.active {
	color: #1e1e1e;
}

.page-add .page-breadcrumb a:last-child:after {
	display: none;
}

.page-add .page-breadcrumb a:after {
	position: absolute;
	top: 1px;
	right: -5px;
	content: "/";
}

.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: .8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #E3BEC6;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc6d4c), to(#E3BEC6));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fc6d4c, #E3BEC6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #E3BEC6);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #E3BEC6);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #E3BEC6);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fc6d4c, #E3BEC6);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ff5000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #DADDFC;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#DADDFC));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #DADDFC);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #DADDFC);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #DADDFC);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #DADDFC);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #DADDFC);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #1379bb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
      padding: 15px 10px;
  }
  .timeline:after {
      left: 28px;
  }
  .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
      position: relative;
      right: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
      display: inline-block;
      margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
      top: 52px;
      left: -2px;
      margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
      padding: 15px;
      margin-left: 56px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
      padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      right: auto;
      left: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin-right: 0;
      margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
      border-right: 18px solid #5a99ee;
      border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px;
  }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0;
  }
}


.cta {
  background: #75aeeb;
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #EFDAD7;
  border: 2px solid #EFDAD7;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff
}

.lib-panel {
  margin-bottom: 20Px
}

.lib-panel img {
  width: 100%;
  height:100%;
  background-color: transparent
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF
}

.lib-panel .lib-row {
  padding: 0 20px 0 20px
}

.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px
}

.lib-panel .lib-row.lib-desc a {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px
}

.row-margin-bottom {
  margin-bottom: 20px
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10)
}

.no-padding {
  padding: 0
}

.accordion_two_section {
  background: #f7f7f7;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.accordionTwo .panel-group {
  margin-bottom: 0;
}

.accordionTwo .panel {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 10px solid transparent;
  border-radius: 0;
  margin: 0;
}

.accordionTwo .panel-default {
  border: 0;
}

.accordionTwo .panel-default>.panel-heading {
  background: #4385f5;
  border-radius: 0px;
  border-color: #4385f5;
}

.accordion-wrap .panel-heading {
  padding: 0px;
  border-radius: 0px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.accordionTwo .panel .panel-heading a.collapsed {
  color: #999999;
  background-color: #fff;
  display: block;
  padding: 12px 20px;
}

.accordionTwo .panel .panel-heading a {
  display: block;
  padding: 12px 20px;
  color: #fff;
}

.accordion-wrap .panel .panel-heading a {
  font-size: 14px;
}

.accordionTwo .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0;
  padding-top: 0;
  padding: 20px 20px 20px 30px;
  background: #4385f5;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.accordionTwo .panel .panel-heading a:after {
  content: "\2212";
  color: #4285f4;
  background: #fff;
}

.accordionTwo .panel .panel-heading a:after, .accordionTwo .panel .panel-heading a.collapsed:after {
  font-family: 'FontAwesome';
  font-size: 14px;
  float: right;
  width: 21px;
  display: block;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
}

.accordionTwo .panel .panel-heading a.collapsed:after {
  content: "\2b";
  color: #fff;
  background-color: #DADADA;
}

.accordionTwo .panel .panel-heading a:after {
  content: "\2212";
  color: #4285f4;
  background: #dadada;
}

a:link {
  text-decoration: none
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}



.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 938px;
}

.u-section-1 .u-shape-1 {
  width: 723px;
  height: 647px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 663px;
  height: 509px;
  margin: -634px auto 0 45px;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 510px;
  margin: -178px 0 45px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 30px 0 0 auto;
  padding: 20px 45px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 555px;
    height: 511px;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 437px;
    margin-top: -511px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -129px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-1 .u-shape-1 {
    width: 449px;
    height: 413px;
  }

  .u-section-1 .u-image-1 {
    width: 408px;
    height: 293px;
    margin-top: -374px;
  }

  .u-section-1 .u-group-1 {
    min-height: 442px;
    margin-top: 0;
    margin-bottom: 58px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-shape-1 {
    width: 419px;
    height: 385px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -346px;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-shape-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
    margin-top: -283px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 497px;
    margin-top: 55px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 803px;
}

.u-section-2 .u-layout-wrap-1 {
  background-image: linear-gradient(#f5f7fa, #e0e5eb);
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 673px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 32px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 93px 0 0 8px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 65px 0 0 auto;
  padding: 12px 47px 12px 46px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 673px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 561px;
  height: 561px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-2 .u-image-1 {
    width: 455px;
    height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 494px;
    height: 446px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 354px;
  }
} .u-section-3 {
  background-image: url("../images/Untitled-3.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 590px;
}

.u-section-3 .u-group-1 {
  width: 472px;
  min-height: 248px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  height: auto;
  margin: 115px 123px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 47px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 68px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-4 .u-text-1 {
  width: 719px;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 618px;
  margin: 30px auto 0;
}

.u-section-4 .u-group-1 {
  min-height: 349px;
  width: 762px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: 0 auto 29px 177px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-family: "BYekan";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 74px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  text-transform: none;
  font-family:"BYekan";
  font-weight: 700;
  line-height: 1;
  margin: 16px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-4 .u-group-1 {
    width: 735px;
    margin-top: 64px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 585px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 368px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1214px;
}

.u-section-5 .u-shape-1 {
  width: 1088px;
  height: 918px;
  margin: 292px auto 0 40px;
}

.u-section-5 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: none;
  margin: -270px auto 0 12px;
}

.u-section-5 .u-form-1 {
  height: 108px;
  background-image: none;
  margin: -816px 234px 60px 262px;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-2 {
    width: 203px;
    height: 204px;
    margin-left: 30px;
  }

  .u-section-5 .u-form-1 {
    width: 592px;
    margin-right: 380px;
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-5 .u-shape-1 {
    height: 718px;
    width: 706px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 155px;
    height: 156px;
    margin-left: 14px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 170px;
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-5 .u-shape-1 {
    height: 559px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-2 {
    width: 117px;
    height: 118px;
    margin-left: 26px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
    margin-right: 106px;
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-shape-1 {
    height: 290px;
    width: 328px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 91px;
    height: 92px;
    margin-left: 38px;
  }

  .u-section-5 .u-form-1 {
    width: 294px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 650px;
  background-image: linear-gradient(#f5d654, #2cccc4);
}

.u-section-6 .u-container-layout-1 {
  padding: 60px;
}

.u-section-6 .u-image-1 {
  height: 530px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 650px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 60px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-6 .u-image-1 {
    height: 412px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px 40px;
  }

  .u-section-6 .u-image-1 {
    height: 353px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-image-1 {
    height: 457px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-6 .u-image-1 {
    height: 332px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}
